.ring-text {
  max-width: 360px;

  color: white;
  font-family: sans-serif;
  z-index: 10;

  pointer-events: none;
}

.ring-text h1 {
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
}

.ring-text p {
  font-size: 1rem;
  opacity: 0.85;
}
