html,
body,
#root {
  margin: 0;
  width: 100%;
}

.landing {
  position: relative;
  width: 100%;
  height: 100vh;
}
/* FIX CANVAS */
canvas {
  position: fixed !important;
  inset: 0;
  z-index: 0;
}

/* Scroll sections */
.section {
  position: relative;
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Ring page layout */
.section.ring {
  justify-content: flex-end;
  padding-right: 8vw;
}
