html,
body,
#root {
  margin: 0;
  width: 100%;
}

.landing {
  position: relative;
  width: 100%;
  height: 100vh;
}
/* FIX CANVAS */
canvas {
  position: fixed !important;
  inset: 0;
  z-index: 0;
}
